{
    "tabWidth": 4,
    "semi": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "singleQuote": false,
    "useTabs": true,
    "printWidth": 110,
    "bracketSpacing": true,
    "singleAttributePerLine": false
}