.message-row {
	display: flex;
	margin: 8px;
}

.sent {
	justify-content: flex-end;
}

.received {
	justify-content: flex-start;
}

.message-bubble {
	max-width: 75%;
	padding: 10px 14px;
	border-radius: 18px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	display: flex;
	flex-direction: column;
}

.sent-bubble {
	background-color: #d9fdd3;
	align-self: flex-end;
	color: #111;
}

.received-bubble {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	align-self: flex-start;
	color: #111;
}

.sender-name {
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 13px;
	color: #4a4a4a;
}

.message-text {
	word-wrap: break-word;
	margin-bottom: 4px;
}

.message-time {
	font-size: 11px;
	color: gray;
	align-self: flex-end;
	margin-top: 2px;
}

.message-wrapper {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	margin: 8px;
	position: relative;
}

.message-wrapper.sent {
	align-items: flex-end;
}

.reaction {
	height: 40px;
	width: fit-content;
	background-color: #fff;
	border-radius: 25px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 5px 10px;
	box-sizing: border-box;
	margin-bottom: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	gap: 10px;
}
